## The following requirements were added by pip freeze:
appdirs==1.4.3
certifi==2017.4.17
chardet==3.0.3
click==6.7
clickclick==1.2.1
connexion==1.1.10
coverage==4.4.1
dpath==1.4.0
elasticsearch==5.4.0
Flask==0.12.2
idna==2.5
inflection==0.3.1
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
MarkupSafe==1.0
prance==0.5.1
py==1.4.34
pytest==3.1.1
pytest-cov==2.5.1
python-dateutil==2.6.0
python-logstash==0.4.6
PyYAML==3.12
requests==2.17.3
six==1.10.0
strict-rfc3339==0.7
swagger-spec-validator==2.1.0
typing==3.6.1
urllib3==1.21.1
uWSGI==2.0.15
Werkzeug==0.12.2
